/* put your page styling customisations here! */
body {}

.contact-form {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('../images/santa.jpg') 0 0 no-repeat scroll;
}

.contact-form form {
	width: 50%;
	position: relative;
	top: 30%;
	margin: 0 auto;
}
img.product {
	height:150px;
}
.page_order .navbar-wrapper {
	position:relative;
	padding-top: 20px;
	margin-top: 0px;
}

.page_order .row {
	margin-bottom: 16px;
}
.page_order {
	background-image:url("/images/snowtile.jpg");
}