/* put your page styling customisations here! */
form {
    float: left;
    width: 100%;
}

form label {
    float: left;
}

form input {
    width: 100%;
    float: left;
}

form textarea {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 15px;
    height: 230px;
}

form input[type=submit] {
    width: 200px;
}

.contact-page {
    background: #fff;
}

.contact-page iframe {
    float: left;
    margin-top: 25px;
}