/* put your page styling customisations here! */
form {
    float: left;
    width: 100%;
}

form label {
    float: left;
}

form input {
    width: 100%;
    float: left;
}

form textarea {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 15px;
    height: 230px;
}

form input[type=submit] {
    width: 200px;
}

.contact-page {
    background: #fff;
}

.contact-page h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    float: left;
    display: block;
}

.contact-page iframe {
    float: left;
    margin-top: 50px;
}

.contact-page footer {
    float: left;
    width: 100%;
    margin-top: 40px;
}